{% extends "base.html" %}

{% block content %}
<header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">About us</h1>
          <p class="lead fw-normal text-white-50 mb-0">
            know more about Django Shopper...
          </p>
        </div>
      </div>
    </header>
<div class="container">
    <div class="row">
        <p class="align: justify">
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis rerum dolorum rem, reprehenderit dolor voluptatum porro tempora perferendis aliquid ab, facere vero recusandae et voluptates ipsum voluptatibus, iusto maiores amet?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe minima, hic, natus facilis accusantium rerum aut aliquid ut blanditiis quam totam culpa exercitationem molestiae doloremque quaerat temporibus repellat illo soluta voluptatibus laborum iusto voluptates! Laboriosam, illo voluptates modi excepturi neque iure animi nam unde officiis architecto enim et molestiae soluta.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, beatae saepe temporibus distinctio dolore iste magnam facilis laudantium, asperiores voluptatum quis labore fuga sequi eius. Consequatur vel optio enim quaerat.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. At aspernatur quasi, vitae sapiente in debitis soluta animi dolorum tenetur laborum aut fuga, autem ipsum doloribus quas, voluptates dolores voluptatum sed ex nisi quaerat possimus odio ad reiciendis? Officiis veniam eaque fugiat omnis vel repudiandae cumque vitae dolore sequi, dolorem quo ipsa explicabo reiciendis et voluptatem culpa autem molestias neque earum.
            <br><br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptas facere, ducimus sequi commodi culpa tempora, velit fuga non aspernatur molestias eius, dolore aut voluptatum architecto excepturi magnam rerum consectetur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, commodi labore harum nesciunt ipsam omnis. Voluptatibus saepe illum veritatis nesciunt voluptates, perspiciatis delectus pariatur beatae enim omnis eveniet? Aliquam amet nobis adipisci, voluptatum dolores delectus pariatur repellendus quisquam maiores doloribus, maxime similique accusantium obcaecati nemo, fuga officia. Officia, quam. Odit, voluptates nemo eius harum neque ab molestias saepe velit qui sapiente sed dolorem exercitationem dolor quia possimus. Sit fugit nobis modi quidem expedita, qui totam earum quis recusandae magni repellat.
            <br><br>
        </p>
    </div>
</div>
{% endblock  %}