{% extends "base.html" %} {% block content %}
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Product</h1>
      <p class="lead fw-normal text-white-50 mb-0">Product Description...</p>
    </div>
  </div>
</header>
<div class="container mt-5">
  <div class="row">
    <div class="card mb-3 offset-2" style="max-width: 740px">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="{{ product.image.url }}"
            class="img-fluid rounded-start"
            style="height: 100%"
            alt="...m"
          />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            {% if product.is_sale %}
                <strike><span style="font-size: 16px; color: #808080">${{product.price}}</strike>&nbsp;&nbsp;
                        ${{product.sale_price}}
            {% else %}
            {{ product.price }}
            {% endif %}
            <p class="card-text">
              {{product.description}}.
            </p>
            <p class="card-text">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
